<div class="signupDialog hidden" title="Join MT Database">
  <fieldset>
    <button class="googleSignUp"><a href='/auth/google'>Sign Up with Google</a></button>
  </fieldset>
</div>
<div class="loginDialog hidden" title="Login">
  <form>
    <fieldset>
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="Your Email">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="xxxxxxxx">
      <button class="loginButton">Log In</button>
    </fieldset>
  </form>
</div>
<footer>
  <!-- <nav class="footerNav">
    <div class="footerLinkGroup footerLinkGroup1">
      <h4 class="footerLinkGroupHeader"><a href="/kinesiology-anatomy">Kinesiology/Anatomy</a></h4>
      <ul>
        <li class="footerLink"><a href="/muscles">Muscles</a></li>
        <li class="footerLink"><a href="/bones">Bones</a></li>
        <li class="footerLink"><a href="/ligaments-nerves">Ligaments and Nerves</a></li>
      </ul>
    </div>
    <div class="footerLinkGroup footerLinkGroup2">
      <h4 class="footerLinkGroupHeader"><a href="/session-planner">Treatment Planning</a></h4>
      <ul>
        <li class="footerLink"><a href="/disorders">Musculoskeletal Disorders</a></li>
        <li class="footerLink"><a href="/techniques">Techniques</a></li>
        <li class="footerLink"><a href="/sessions">Sessions</a></li>
      </ul>
    </div>
    <div class="footerLinkGroup footerLinkGroup3">
      <h4 class="footerLinkGroupHeader"><a href="http://www.lillianchernin.com">Created by Lillian Chernin</a></h4>
      <ul>
        <li class="footerLink"><a href="https://github.com/LillianChernin" target="_blank">GitHub</a></li>
        <li class="footerLink"><a href="https://www.linkedin.com/in/lillian-chernin/" target="_blank">LinkedIn</a></li>
        <li class="footerLink"><a href="http://www.lillianchernin.com/blog.html" target="_blank">Blog</a></li>
      </ul>
    </div>
  </nav> -->
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
