<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= documentTitle %></title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Muli|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <header class="header-header">
      <span class="header-title"><a href="/">MT Database</a></span>
      <span class="header-logOrSignup">
        <% if (user) { %>
          <span><a href="/logout">logout</a></span>
          <span><a href="/profile/<%= user.username %>">profile</a></span>
        <% } else { %>
        <span class="header-log"><a href="#">log in</a></span>
        <span> | </span>
        <span class="header-signup"><a href="#">join</a></span>
      </span>
      <% } %>
    </header>
    <% if (documentTitle !== "MT Database") { %>
      <h1 class="main-header"><%= documentTitle %></h1>
  <% } %>
