<% include partials/header %>
  <h4 class="main-page-title">The</h4>
  <h1 class="main-page-title">Massage Therapy</h1>
  <h3 class="main-page-title">Database</h3>
  <nav class="main-page-nav">
    <span><a href="/disorders">Disorders</a></span>
    <span> | </span>
    <span><a href="/techniques">Techniques</a></span>
    <span> | </span>
    <span><a href="/kinesiology-anatomy">Kinesiology/Anatomy</a></span>
  </nav>

<% include partials/footer %>
