a {
  text-decoration: none;
  color: black;
}
.navigateBackToPreviousLevel {
  text-align: center;
}
.header-header {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  padding-top: 10px;
}
.main-header {
  padding-top: 25px;
  font-family: 'Muli', sans-serif;
  text-align: center;
}
.header-title {
  font-family: 'Muli', sans-serif;
  font-size: 28px;
  padding-left: 15px;
}
.page-header-wrapper {
  width: 80%;
  margin: 48px auto;
  text-align: center;
}

.header-logOrSignup {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  right: 50px;
  align: right;
  text-transform: uppercase;
  display: inline-block;
}
.main-page-title, .main-page-nav {
  font-family: 'Muli', sans-serif;
  text-align: center;
}

.disorderDisplayBox {
  width: 30%;
  display: inline-block;
  border: 2px solid black;
  text-align: center;
  padding: 6px;
  margin: 8px 1% 8px 1%;
}
.kaIndexMainLinks {
  margin: 0 auto;
  width: 50%;
}

.kaIndexMainLink {
  display: inline-block;
  font-family: 'Muli', sans-serif;
}

.muscleDisplayBox {
  border: 1px solid black;
  margin: 0 auto;
  width: 60%;
  font-family: 'Muli', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.muscleAttributes {
  display: block;
  text-transform: capitalize;
}

.individualDisorderHeaderLinks {
  text-align: center;
}
input {
  border: 2px solid #dadada;
  border-radius: 7px;
}
.input-edit-mode {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
.invalid-input {
  outline: none;
  border-color: #ef432f;
  box-shadow: 0 0 10px #ef432f;
}
a:hover {
  text-decoration: underline;
}
.hidden {
  display: none;
}
