<% include ../partials/header %>

<h2>Welcome back, <%= user.firstName %>!</h2>
<div class="favorite-techniques-wrapper">
  <h3>Favorite Techniques</h3>
  <% for (let i = 0; i < user.favoriteTechniques.length; i++) { %>
    <div class="favorite-technique">
      <% for (let key in user.favoriteTechniques[i]) { %>
        <p>Key: <%= key %></p>
        <p><%= user.favoriteTechniques[i][key] %></p>
      <% } %>
    </div>
  <% } %>
</div>


<% include ../partials/footer %>
