<% include ../partials/header.ejs %>

<% for(let i = 0; i < data.length; i++) { %>
  <div class="disorderDisplayBox">
    <h4><%= data[i].name %></h4>
    <p><%= data[i].description %></p>
    <button><a href="http://localhost:3000/disorders/<%= data[i]._id %>">Full Description</a></button>
    <button><a href="http://localhost:3000/disorders/<%= data[i]._id %>/techniques">Techniques</a></button>
  </div>
<% } %>

<% include ../partials/footer.ejs %>
