<% include ../partials/header %>

<div class="page-header-wrapper">
  <h1><%= documentTitle.toUpperCase() %></h1>
</div>

<div class="kaIndexMainLinks">
  <div class="kaIndexMainLink">
    <h2>Bones</h2>
    <a href="/kinesiology-anatomy/bones"><img src="images/bones/skeleton.png" height="200" width="150"></a>
  </div>
  <div class="kaIndexMainLink">
    <h2>Muscles</h2>
    <a href="/kinesiology-anatomy/muscles"><img src="images/muscles/pectoralis major.png" height="200" width="150"></a>
  </div>
  <div class="kaIndexMainLink">
    <h2>Nerves</h2>
    <a href="/kinesiology-anatomy/nerves"><img src="images/nerves/brach-plexus.png" height="200" width="150"></a>
  </div>
  <div class="kaIndexMainLink">
    <h2>Ligaments</h2>
    <a href="/kinesiology-anatomy/ligaments"><img src="images/ligaments/popliteal-ligament.png" height="200" width="150"></a>
  </div>
</div>

<% include ../partials/footer %>
